body {
 font-family: sans-serif;

}


.menu {
    height: 168px;
}
.contactes {
    height: 195px;
}
.contingut {
    height: 1665px;
}

.centrador {
    width: 1665px;
    background-color: yellow;
    overflow: hidden;
    margin: 0 auto;

}

li {
    display: inline-block;
    margin: 10px;
    background-color: white;
    width: 82px;
    height: 82px;
    border-radius: 50%;
    background-size: 100%;
    background-repeat: no-repeat;
    text-align: center;
    line-height: 200px;
}

ul {
    width: 1060px;
    font-size: 10px;
    margin: auto;
    padding: 36px;
}

#contacte01 {
    background-image: url(../img/ifpagram_07.png);
}

#contacte01:hover {
    background-size: 200%;
    background-position: center;
}

#contacte02 {
    background-image: url(../img/ifpagram_09.png);
}
#contacte03 {
    background-image: url(../img/ifpagram_07.png);
}

#contacte04 {
    background-image: url(../img/ifpagram_09.png);
}
#contacte05 {
    background-image: url(../img/ifpagram_07.png);
}

#contacte06 {
    background-image: url(../img/ifpagram_09.png);
}
#contacte07 {
    background-image: url(../img/ifpagram_07.png);
}

#contacte08 {
    background-image: url(../img/ifpagram_09.png);
}
#contacte09 {
    background-image: url(../img/ifpagram_07.png);
}

#contacte10 {
    background-image: url(../img/ifpagram_09.png);
}

.logo {
    width: 310px;
    height: 50px;
    float: left;
    background-image: url(../img/ifpagram.png);
    background-size: 60%;
    background-repeat: no-repeat;
    padding: 10px;
    padding-top: 10px;
    margin: 0 10px;

}

.nav{
    width: 336px;
    height: 50px;
    margin: 10px auto;
   


}

.nav ul {
    height: 50px;
    width: 210px;
    padding: 0;
    margin: auto;

}

.nav ul li {
    width: 42px;
    height: 42px;
    margin: 4px;

}

.home {
    background-image: url(../img/nav.png);
    background-size: 600%;
    background-position: 5px -25px;
}

.search {
    background-image: url(../img/nav.png);
    background-size: 600%;
    background-position: -60px -25px;
}

.tv {
    background-image: url(../img/nav.png);
    background-size: 600%;
    background-position: -130px -25px;
}

.like {
    background-image: url(../img/nav.png);
    background-size: 600%;
    background-position: -190px -25px;
}

.user{
    background-color: pink;
    width: 164px;
    height: 50px;
    float: right;

}



.post { 

    width: 535px;
    margin: 0 auto;
    padding: 10px;
    text-align: center;
    overflow: hidden;
    float: left;
}

.post img {
    width: 535px;
}

.post div {
    width: 150px;
    
    margin: 5px;

}

.post .postejador {

    float: left;
}

.post .postejador img {
    width: 50px;
    border-radius:50%;
    float: left;
}

.post .reaccions {

    width: 170px;
    float: right;
}

.post h5{

    height: 25px;
    line-height: 25px;
    font-weight: 600;

}
.post h6{
    height: 25px;
}

a:link {
    opacity: 100%;
}

a:hover {
    opacity: 60%;
    background-size: 200%;
}